html {
	box-sizing: border-box;
	font-size: 62.5%;
}
*,
*::before,
*::after {
	box-sizing: inherit;
	margin: 0;
	padding: 0;
}
body {
	background-color: slateblue;
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
	overflow: hidden;
}

.empty {
	width: 15rem;
	height: 15rem;
	background-color: #fff;
	border: solid 0.3rem #000;
	margin: 1rem;
}

.fill {
	background-image: url('https://source.unsplash.com/random/150x150');
	height: 14.5rem;
	width: 14.5rem;
	cursor: pointer;
}

.hold {
	border: 0.5rem solid #ccc;
}

.hovered {
	background-color: #333;
	border-color: white;
	border-style: dashed;
}

@media (max-width: 80rem) {
	body {
		flex-direction: column;
	}
}
